body{
    background:url('../media/bg/body-bg.jpg');
    background-size: cover;
    background-attachment:fixed;
    background-position: top;
}
.aside{
    background-color: transparent;
}
.brand{
    background-color: transparent;
}
.aside-menu{
    background-color: transparent;
}

.aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-heading, .aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link{
    background: #415094;
    border-left: 6px solid #7c32ff;
    border-image-source: linear-gradient(#c738d8, #7c32ff);
    border-image-slice: 6;
}
.aside-menu .menu-nav>.menu-item.menu-item-active>.menu-heading, .aside-menu .menu-nav>.menu-item.menu-item-active>.menu-link{
    background: #415094;
    border-left: 6px solid #7c32ff;
    border-image-source: linear-gradient(#c738d8, #7c32ff);
    border-image-slice: 6;
}
.aside-menu .menu-nav>.menu-item.menu-item-open>.menu-heading, .aside-menu .menu-nav>.menu-item.menu-item-open>.menu-link{
    background: #415094;
    border-left: 6px solid #7c32ff;
    border-image-source: linear-gradient(#c738d8, #7c32ff);
    border-image-slice: 6;
}
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-heading, .aside-menu .menu-nav>.menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link{
    background: #415094;
    border-left: 6px solid #7c32ff;
    border-image-source: linear-gradient(#c738d8, #7c32ff);
    border-image-slice: 6;
}
.block-area:hover{
    background:url(../media/bg/summery-bg1.png) no-repeat center;
    /* box-shadow: 0px 10px 30px  rgb(108 39 255); */
    background-size: cover !important;
    background-position: right center;
    transition: all 0.4s ease 0s;
    color: #fff !important;
}
.aside-menu .menu-nav>.menu-item>.menu-heading .menu-text, .aside-menu .menu-nav>.menu-item>.menu-link .menu-text{
    color: #415094;
}

.aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-heading .menu-icon, .aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link .menu-icon{
    color: #fff;
}

.header{
    background: transparent;
}

.aside-enabled .subheader{
    background: transparent;
}
#kt_footer{
    background: transparent;
}

.header .header-menu .menu-nav>.menu-item.menu-item-active>.menu-link .menu-text, .header .header-menu .menu-nav>.menu-item.menu-item-here>.menu-link .menu-text{
    color: #415094;
}
.text-muted{
    color: #415094 !important;
}
.text-dark-50{
    color: #415094 !important;
}
.menu-subnav{
    background: #415094;
    opacity: 0.7;
}
.subnav-no-bg{
    background: none;
    opacity: 1;
}
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item.menu-item-active>.menu-heading, .aside-menu .menu-nav>.menu-item .menu-submenu .menu-item.menu-item-active>.menu-link{
    background: rgba(255, 255, 255, 0.05);
    border-left: 6px solid #7c32ff;
}
